{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="container my-3">
    <h1 class="my-4" align="center">Немного обо мне</h1>
    <div class="about-me-container">
        <div class="about-me">
            <p>Меня зовут Гарипов Фанис. Я ученик 11А класса, и это мой проект "ChemistryPRO". Мне 17 лет. Я люблю программировать и поэтому решил создать проект на стыке двух интереснейших предметов: Химии и Информатики. Внизу этой страницы Вы видите ссылки на мои контакты, а именно ВК и Телеграмм-аккаунт. По всем вопросам туда :)</p>
            <p>Спасибо, что обратили внимание на мой сайт!!!</p>
            <p>Если вам нравится то, что я делаю, вы можете сделать добровольное пожертвование через ЮMoney:</p>
            <iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=1A0CVJANSK6.250502&" width="330" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
            <p>Спасибо за вашу поддержку! 🙏</p>
            <p>Мои другие работы:</p>
            <p><a style="color: gray;" href="https://naukapro.onrender.com">NaukaPRO</a></p>
            <p><a style="color: gray;" href="https://physicspro.onrender.com">PhysicsPRO</a></p>
            <p><a style="color: gray;" href="https://informpro.onrender.com">InformPRO</a></p>
            <p><a href="https://github.com/FanisGaripov/PresentSwap"><font color="gray">PresentSwap</font></a></p>
            <p><a href="https://github.com/FanisGaripov/WebVulnFinder"><font color="gray">WebVulnFinder</font></a></p>
        </div>
        <div class="about-image">
            <img src="{{ url_for('static', filename='fanisik.jpg') }}" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
<style>
    .about-me-container {
        display: flex;
        flex-direction: row; /* По умолчанию располагаем элементы в ряд */
        justify-content: space-between;
    }
    .about-me {
        font-size: 18px;
        width: 50%; /* Занимаем 50% ширины */
    }
    @media (max-width: 768px) {
        .about-me-container {
            flex-direction: column; /* На маленьких экранах располагаем элементы в колонку */
            align-items: center; /* Центрируем содержимое */
        }
        .about-me,
        .about-image {
            width: 100%; /* Занимаем всю ширину */
            text-align: center; /* Центрируем текст */
        }
    }
</style>

{% endblock %}
