{% extends 'base.html' %}

{% block title %}ChemistryPRO - Список пользователей{% endblock %}

{% block content %}
<style>
.list-group-item img {
    vertical-align: middle; /* Выравнивание изображений по центру */
    horizontal-align: middle;
}
</style>
<div class="list-group">
    {% for stroka in polzovatel %}
    <a href="/profile/{{ stroka.username }}" class="list-group-item list-group-item-action rounded-0"><font color="black">
<!-- Добавление аватарок -->
        {% if stroka.avatar %}
        <img class="profile-avatar" src="{{ url_for('static', filename='upload/' + stroka.avatar) }}" alt="Аватар" width="25" height="25">
    {% else %}
        <img class="profile-avatar" src="{{ url_for('static', filename='upload/default_avatar.png') }}" alt="Аватар" width="25" height="25">
    {% endif %}{{stroka.username}}
    </font></a>
    <p></p>
    {% endfor %}
</div>
{% endblock %}