{% extends 'base.html' %}

{% block title %}Ошибка{% endblock %}

{% block content %}
{% if bugcode == 1 %}
<p>Такого пользователя не существует! Код ошибки: 1</p>
<a class="nav-link" href="/register"><font color="gray">Зарегистрироваться</a>
{% elif bugcode == 2 %}
<p>Неправильный пароль! Попробуйте ещё раз. Код ошибки: 2</p>
<a class="nav-link" href="/login"><font color="gray">Войти</a>
{% elif bugcode == 3%}
<p>Пользователь с таким именем уже существует! Попробуйте авторизоваться. Если же ошибка повторяется,можно попробовать изменить почту. Код ошибки: 3</p>
<a class="nav-link" href="/login"><font color="gray">Войти</a>
{% elif bugcode == 4 %}
<p>Пользователь с такой электронной почтой уже существует! Измените почту. Код ошибки: 4</p>
<a class="nav-link" href="/register"><font color="gray">Регистрация</a>
{% elif bugcode == 5 %}
<p>Подтвердите пароль! Введённый пароль не совпадает с подтверждением. Код ошибки: 5</p>
<a class="nav-link" href="/register"><font color="gray">Регистрация</a>
{% elif bugcode == 6 %}
<p>Такой страницы не существует. Код
ошибки: 6</p>
{% elif bugcode == 7 %}
<p>Пользователя с таким логином не существует. Код ошибки: 7</p>
{% elif bugcode == 8 %}
<p>Произошла ошибка при удалении профиля, либо такого пользователя никогда не существовало. Код ошибки: 8</p>
<a class="nav-link" href="/all_profiles"><font color="gray">Список всех профилей</font></a>
{% endif %}
<a class="nav-link" href="/"><font color="gray">На главную</a>
{% endblock %}