{% extends 'base.html' %}

{% block title %}ChemistryPRO - Миниигра{% endblock %}

{% block content %}
<style>
    @media (min-width: 768px) {
    #info {
        width: 1000px; /* Ширина для ПК */
    }
    }

    /* Для смартфонов */
    @media (max-width: 767px) {
    #info {
        width: 400px; /* Ширина для мобильных устройств */
    }
    }
</style>
<h2>Справочный материал по органической химии</h2>
<iframe id="info" src="https://docs.google.com/document/d/e/2PACX-1vS1U3ivOp8fdSKwvB0iDqv-TEY8-epCOOCHLTHYDY_JdmSadgk6NOhuuIt5FzlIwg/pub?embedded=true" width="1100px" height="1000px"></iframe>
{% endblock %}