<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<nav class="navbar navbar-expand-xl custom-navbar">
    <div class="container">
        <img src="/static/lab.svg" alt="" class="logo-image" width="32" height="32">
        <a class="navbar-brand" href="/">ChemistryPRO</a>
        <button class="navbar-toggler" type="button" onclick="toggleSidebar()" style="border: none; outline: none; box-shadow: none;">
            <span style="width: 36px; height: 36px; display: flex; align-items: center; justify-content: center;">
                <i class="fas fa-bars" style="font-size: 24px; color: #5d4fff;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme"><i class="fa fa-question-circle"></i>Обо мне</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" onclick="toggleDropdown(this)">
                        ОГЭ/ЕГЭ
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="/oge"><i class="fa-solid fa-9"></i> Задания ОГЭ</a>
                        <a class="nav-link" href="/ege"><i class="fa-solid fa-1"></i><i class="fa-solid fa-1"></i> Задания ЕГЭ</a>
                        <a class="nav-link" href="/experiments"><i class='fas fa-atom'></i> Онлайн Лаборатория</a>
                        <a class="nav-link" href="/glossary_of_chemistry_terms"><i class='far fa-bookmark'></i> Глоссарий терминов</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" onclick="toggleDropdown(this)">
                        Таблицы
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="/tablica"> Интерактивная таблица хим.элементов</a>
                        <a class="nav-link" href="/tablica_old"><i class="fas fa-paperclip"></i> Прошлая таблица хим.элементов</a>
                        <a class="nav-link" href="/tablica_rastvorimosti"><i class="fa fa-table"></i> Таблица растворимости</a>
                        <a class="nav-link" href="/tablica_kislotnosti"><i class="fa fa-th-list"></i> Таблица Кислот и Кислотных остатков</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat-gpt"><i class="fas fa-brain"></i>ChatGPT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" onclick="toggleDropdown(this)">
                        Калькуляторы
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="/molyarnaya_massa"><i class="fas fa-calculator"></i> Молярная масса</a>
                        <a class="nav-link" href="/rastvory"><i class="fa fa-flask"></i> Калькулятор Растворимостей</a>
                        <a class="nav-link" href="/reaction-output-calculator"><i class="fa fa-percent"></i> Калькулятор Процентного выхода</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" onclick="toggleDropdown(this)">
                        Функции
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="/complete_reaction"><i class="fa fa-magic"></i> Дописывание хим.реакций</a>
                        <a class="nav-link" href="/uravnivanie"><i class="fas fa-flask"></i> Уравнивание хим.реакций</a>
                        <a class="nav-link" href="/electronic_configuration"><i class="fas fa-plus-circle"></i> Электронная конфигурация</a>
                        <a class="nav-link" href="/organic_reactions"><i class="fa fa-leaf"></i> Органические реакции</a>
                        <a class="nav-link" href="/get_reaction_chain"><i class="fa fa-terminal"></i> Цепочки превращений</a>
                        <a class="nav-link" href="/select-organic-input"><i class="fa fa-list-ol"></i> Органическое вещества</a>
                        <a class="nav-link" href="/get_molecule"><i class="fa fa-search"></i> Просмотр 3D-молекул</a>
                        <a class="nav-link" href="/chat"><i class="fa fa-comment"></i> Общий чат</a>
                        <a class="nav-link" href="/minigame"><i class="fa fa-gamepad"></i> Мини-Игра</a>
                    </div>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/profile"><i class="fas fa-user"></i> {{ user.name }}</a>
                    {% else %}
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>